<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connect provider</title>

    <style type="text/css">
      h2 { text-align:center; }
    </style>
</head>
<body>
    <a href='/admin/connect' th:href="@{${link}}"><h2>Connect provider</h2></a>
    <img th:src="@{${src}}" width="256" height="256" align="middle">
    <br>
    <a href='/admin/users'><h2>Users</h2></a>
</body>
</html>