<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connections</title>

    <style type="text/css">
      table {
          border-collapse: collapse;
        }
        table, th, td {
        border: 1px solid black;
        }
        th, td {
          padding: 5px;
          background-color:none;
        text-align: center;
        vertical-align: center;
        align: center;
        }
      h1 {text-align:center;}
    </style>
</head>
<body>
    <h1>User: <span th:text="${user.name}"></span></h1>

    <h3>Connections</h3>
    <a href='/admin/connect'><h3>Connect Salt Edge Authenticator</h3></a>
    <a href='/admin/connect' th:href="@{'/admin/connect?user_id=' + ${user.id}}"><h3>Fast Connect Salt Edge Authenticator</h3></a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Platform</th>
            <th>Access Token</th>
            <th>Revoked</th>
        </tr>
        <tbody>
        <tr th:each="connection : ${connections}">
            <td th:text="${connection.id}">&nbsp;</td>
            <td th:text="${connection.platform}">&nbsp;</td>
            <td th:text="${connection.accessToken}">&nbsp;</td>
            <td th:text="${connection.revoked} ? 'REVOKED' : 'ACTIVE'">&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <h3>Authorizations</h3>
    <div th:if="${connectionsIsNotEmpty}">
        <form action="/admin/authorizations" method="post">
            <button>Create Demo Authorization</button>
            <input type="hidden" name="user_id" th:value="${user.id}">
        </form>
        <br>
    </div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Authorization Code</th>
            <th>Expires At</th>
            <th>Status</th>
        </tr>
        <tbody>
        <tr th:each="authorization : ${authorizations}">
            <td th:text="${authorization.id}">&nbsp;</td>
            <td th:text="${authorization.authorizationCode}">&nbsp;</td>
            <td th:text="${authorization.getExpiresAtString()}">&nbsp;</td>
            <td th:text="${authorization.getStatus()}">&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <a href='/admin/users'><h3>< Back to Users</h3></a>
</body>
</html>