<%# This file is part of the Salt Edge Authenticator distribution
# (https://github.com/saltedge/sca-identity-service-example)
# Copyright (c) 2020 Salt Edge Inc.

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, version 3 or later.

# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

# For the additional permissions granted for Salt Edge Authenticator
# under Section 7 of the GNU General Public License see THIRD_PARTY_NOTICES.md %>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salt Edge SCA Example (Demo)</title>

    <style type="text/css">
        body {font-family: Arial, Helvetica, sans-serif;}
        a {
            text-decoration: none;
        }
        .container {
              max-width: 700px;
              margin: 0 auto;
              padding: 0 10px;
            }
        .top-header img {
          display: inline;
          width: auto;
          height: 100px;
          background: #AAA;
        }
        .top-header h1 {
          display: inline;
          left: 20px;
        }
        .link-header {
            color:white;
            background-color:#ae1200;
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="top-header">
            <img src="http://i.imgur.com/XzYxlS8.png" alt="logo" />
            <h1>Salt Edge SCA Example (Demo)</h1>
        </div>

        <a href="/users/sign_in"><h2 class="link-header">Sign In/Connect Authenticator/Create Authorization</h2></a>

        <a href="/payments/order"><h2 class="link-header">Create Payment Order</h2></a>

        <a href="/users/register"><h2 class="link-header">Register New User</h2></a>
    </div>
</body>