<%# This file is part of the Salt Edge Authenticator distribution
# (https://github.com/saltedge/sca-identity-service-example)
# Copyright (c) 2019 Salt Edge Inc.

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, version 3 or later.

# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

# For the additional permissions granted for Salt Edge Authenticator
# under Section 7 of the GNU General Public License see THIRD_PARTY_NOTICES.md %>

<style>
h1 {text-align:center;}
form {text-align:center;}
button {
 font-family: Arial,Helvetica,sans-serif;
 font-size: 24px;
}
</style>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Create new user</h1>

	<form class="form" method="post" action="/users/register">
	  <div class="form-group">
	    <label for="length">User name:</label>
	    <input id="name" name="username" class="form-control" type="text">
	  </div>
	  <br>
	  <div class="form-group">
	    <label for="width">Password:</label>
	    <input id="password" name="password" class="form-control" type="password">
	  </div>
	  <br>
	  <button type="submit" class="btn" name="sign_up">Sign up</button>
	</form>
</body>